<div class="flex-container">
<a href="/"><img src="../images/Bee_Logo.png" width=auto height="300px"></a>
  <form class="flex-login" id="new_user" action="/users" accept-charset="UTF-8" method="post">
    <p>Welcome to {{title}}</p>
  <p>
    <input placeholder="name" type="text" name="name" id="user_name" /><br><br>
    <input type="submit" name="commit" value="Log In" />
  </p>

  </form>
</div>
