<div class="flex-container">
<img src="../images/Bee_Logo.png" width=auto height="300px">
<p>Welcome to User Page</p>
  <ul class="flex-posts">
    <li>#{{id}}</li>
    <li><b>{{users_username}}</b></li>
    <li><img src={{imageUrl}} alt="some_text" style="width:300px;height:300px;"></li>
    <li>{{caption}}</li>
  </ul>
</div>
