body {
  background-color:  #ffff4d;
}


.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-login {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #333333;
  background: #ffffcc;
  width: 300px;
  margin-top: 10px;
  color: black
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-posts {
  border-radius: 10px;
  box-shadow: 5px 5px 5px #333333;
  background: #ffffcc;
  padding: 5px;
  width: 500px;
  margin-top: 10px;
  color: black
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

ul {
  list-style-type: none;
}
